@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: Poppins, sans-serif;
}

*::selection{
    color:white;
    background-color: #828ea2;
}

nav ul .apply_nav{
    border-bottom: solid #ffffff;
    border-width: calc(2px + .1vw);
    color: rgb(255, 255, 255) !important;
    transition: 0.5s;
}

.welcome{
    display: inline block;
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: 25px;
    font-weight: bold;
}

.apply_block{
    margin: 30px;
    background-color: white;
    width: 100%;
}

.apply_block h3{
    float: left;
    background-color: #2e3d4d;
    width: 29.86%;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    text-align: center;
    border-radius: 10px 10px 0px 0px;  
    color: white;
    border-color: black;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.head_eng:hover, .head_sci:hover, .head_int:hover{
    background-color: #94b5e8;
}

.apply_block form{
    font-size: 13px;
    background-color: whitesmoke;
    clear: left;
    border: solid;
    width: 20%;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.apply form input, form label{ 
    display: block;
}

label img{
    width: 70%;
}

.engineering{
    display: none;
    border-left: black solid;
    border-right: black solid;
    border-bottom: black solid;
}

.science{
    display: none;
    width: 90%;
    border-left: white solid;
    border-right: white solid;
    border-bottom: white solid;
}

.interdisciplinary_studies{
    display: none;
    width: 90%;
    border-left: white solid;
    border-right: white solid;
    border-bottom: white solid;
}

.engineering:hover{
    display: block;
    margin-top: 20px;
    width: 90%;
    background-color: #94b5e8;
    border-left: black solid;
    border-right: black solid;
    border-bottom: black solid;
}

.science:hover{
    display: block;
    margin-top: 20px;
    width: 90%;
    background-color: #94b5e8;
    border-left: black solid;
    border-right: black solid;
    border-bottom: black solid;
}

.interdisciplinary_studies:hover{
    display: block;
    margin-top: 20px;
    width: 90%;
    background-color: #94b5e8;
    border-left: black solid;
    border-right: black solid;
    border-bottom: black solid;
}
  
.head_eng:hover ~ .engineering {
    display: block;
    margin-top: 20px;
    width: 90%;
    background-color: #94b5e8;
    border-left: black solid;
    border-right: black solid;
    border-bottom: black solid;
}

.head_sci:hover ~ .science {
    display: block;
    margin-top: 20px;
    width: 90%;
    background-color: #94b5e8;
    border-left: black solid;
    border-right: black solid;
    border-bottom: black solid;
}

.head_int:hover ~ .interdisciplinary_studies {
    display: block;
    margin-top: 20px;
    width: 90%;
    background-color: #94b5e8;
    border-left: black solid;
    border-right: black solid;
    border-bottom: black solid;
}   

.head_eng:has(~ .engineering:hover){
    background-color: #94b5e8;
}

.head_int:has(~ .interdisciplinary_studies:hover){
    background-color: #94b5e8;
}

.head_sci:has(~ .science:hover){
    background-color: #94b5e8;
}

.apply_block:hover{
    border: white solid;
}

.engineering form{
    display: inline-block;
    margin: 2%;
}

.science form{
    display: inline-block;
    margin: 2%;
}

.interdisciplinary_studies form{
    display: inline-block;
    margin: 2%;
}

.result{
    width: 90%;
    margin: 0px auto;
}

.result h2{
    padding: 20px 0px 10px 0px;
    display: inline-block;
    width: 100%;
}

.result p{
    display: block;
    padding: 10px 0px 0px 0px;
    width: 100%;
}

.result input{
    margin: 10px 5px 20px 5px;
}

.result_table table{
    display: inline block;
    background-color: blue;
    margin: 0px auto;
    width: 100%; 
}

.result_table table tr:hover{
    background-color: #94b5e8;
}

.result_table table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.result_table th{
    color: white;
    background-color: #18314b;
}

.result_table tr:nth-child(2n+1){
    color: rgb(0, 0, 0);
    background-color: rgb(224, 224, 224);
}

.result_table tr{
    color: rgb(0, 0, 0);
    background-color: rgb(156, 156, 156);
}

.result_table p{
    padding: 20px 0px 20px 0px;
}